{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{game.img}}" alt="{{game.name}}" />
</div>
<div class="detail__name">
    {% if game.verified_game %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{game.bio}}</p>
    </div>
</div>
    <div class="detail__container">
        <div class="buttons">
            <div class="buttons">
        
        <a href="{% url 'game_update' game.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
    <a href="{% url 'game_delete' game.pk %}" class="button is-danger">Delete   
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
{% endblock %}