{% extends 'base.html' %}
{% block content %}
<h1>YEE</h1>
<p>A Board Game Cafe is a concept that is becoming extremely popular in North America. The basic idea is to bring back everyone's favorite pastime of playing board games, face to face in a friendly environment, while offering a variety of drinks and tasty snacks. We have a library of over 2000 games that are available to play at a nominal fee. We'll also show you how to play many of our titles. So come and play for an hour or three!</p>

{% endblock %}